@{
    Layout = "~/TaCertoForms/Views/Layouts/CriarFaseLayout.cshtml";
}
<div id="normalAndHardcore" class="row center-align">
    <div id="helperText" class="col s12 m12 l12 xl12 card-panel blue darken-4">
        <h4>Adicionando questões</h3>
    </div>

    <div id="formNormalAndHardcore" class="col s12 m8 l8">
        <form class="col s12">
            <div class="row card-panel teal lighten-2">
                <h5 class="titulo-questao">Questão 1</h5>
            </div>
            <div class="row">
                    <div class="input-field col s12">
                    <textarea id="lacunaFirstText" class="materialize-textarea" onkeyup="ScriptsCriarFaseLacuna.trocaFraseLacuna(this.value, 1);" onfocus="ScriptsCriarFaseLacuna.trocaFraseLacuna(this.value, 1);"></textarea>
                    <label for="lacunaFirstText">Primeira parte da frase</label>
                    </div>
            </div>

            <div class="row">
                    <div class="input-field col s3">
                    <textarea id="newLacunaText" class="materialize-textarea" data-length="26"></textarea>
                    <label for="newLacunaText">Lacuna</labe
                    colocar para saber se a lacuna é certa ou errada
                    </div>
                        <div class="input-field col s1">
                            <a class="waves-effect waves-light btn btn-large" onclick="TaCertoForms.Salvar(this, true);">+</a>
                        </div>
            </div>


            <div class="row">
                    <div class="input-field col s12">
                    <textarea id="lacunaSecondText" class="materialize-textarea" onkeyup="ScriptsCriarFaseLacuna.trocaFraseLacuna(this.value, 2);" onfocus="ScriptsCriarFaseLacuna.trocaFraseLacuna(this.value, 2);"></textarea>
                    <label for="lacunaSecondText">Segunda parte da frase</label>
                    </div>
            </div>
            <div class="row">
                    <div class="input-field col s12">
                    <textarea id="textoSignificado" class="materialize-textarea"></textarea>
                    <label for="textoSignificado">Significado (Opcional)</label>
                    </div>
            </div>
            <div class="row">
                    <div class="input-field col s12">
                    <textarea id="textoDica" class="materialize-textarea"></textarea>
                    <label for="textoDica">Dica (Opcional)</label>
                    </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <a class="waves-effect waves-light btn btn-large" onclick="TaCertoForms.Salvar(this, true);">Adicionar</a>
                </div>
            </div>
            <div class="divider"></div>
            <div class="left-align">
                Número de questões atual: 0
            </div>
        </form>
    </div>

    <div id="telaNormalAndHardcore" class="col s12 m4 l4 hide-on-small-only">
        <iframe id="lacunaIframe" src="~/TaCertoForms/ChamarIframe?id=2" frameborder="0"></iframe>
         <div onclick="M.toast({html: 'Esse é apenas um exemplo de como ficará no jogo.', classes: 'rounded red lighten-1'})"  class="ghostDivJustForClick">
        </div>
   </div>
</div>