@{
    Layout = "~/TaCertoForms/Views/Layouts/CriarFaseLayout.cshtml";
}        
<div id="normalAndHardcore" class="row center-align" onload="ScriptsCriarFaseNormal.loadData();">
    <div id="helperText" class="col s12 m12 l12 xl12 card-panel blue darken-4">
        <h4>Adicionando questões</h4>
    </div>
    <div id="formNormalAndHardcore" class="col s12 m8 l8">
        <div class="col s12" name="palavraNormalForm">
            <div class="row card-panel teal lighten-2">
                <h5 class="titulo-questao">Questão 1</h5>
            </div>
                        <div class="row">
                                <div class="input-field col s6">
                                        <i class="material-icons prefix">add_circle</i>
                                        <input placeholder="ex: Cambito" id="palavraText" name="palavraText" type="text" class="validate" onkeyup="ScriptsCriarFaseNormal.trocaTextoPalavra(this.value);" onfocus="ScriptsCriarFaseNormal.trocaTextoPalavra(this.value);">
                                        <label for="palavraText">Palavra</label>
                                </div>
                                <label>
                                    <input id="certo" name="alternativaPalavra" type="radio" checked />
                                    <span>Certo</span>
                                </label>
                                <label>
                                    <input id="errado" name="alternativaPalavra" type="radio" />
                                    <span>Errado</span>
                                </label>
                        </div>
                        <div class="row">
                                <div class="input-field col s12">
                                <textarea id="textoSignificado" class="materialize-textarea"></textarea>
                                <label for="textoSignificado">Significado (Opcional)</label>
                                </div>
                        </div>
                        <div class="row">
                                <div class="input-field col s12">
                                <textarea id="textoDica" class="materialize-textarea"></textarea>
                                <label for="textoDica">Dica (Opcional)</label>
                                </div>
                        </div>
                        
                        <div class="row">
                            <!--<div class="input-field col s12">
                               <a class="waves-effect waves-light btn" onclick="ScriptsCriarFaseNormal.addPalavra()">Adicionar</a>
                            </div>-->
                            <button id="botaoAdd" class="btn waves-effect waves-light" type="submit" name="action" onclick="ScriptsCriarFaseNormal.addPalavra()">Adicionar<i id="iconeAdd" class="material-icons right">add</i>
                            </button>
                            <button id="botaoEdit" class="btn waves-effect waves-light ghostElement" type="submit" name="action" onclick="ScriptsCriarFaseNormal.addPalavra()">Editar<i id="iconeAdd" class="material-icons right">edit</i>
                            </button>
                            <button id="botaoSave" class="btn waves-effect waves-light ghostElement" type="submit" name="action" onclick="ScriptsCriarFaseNormal.salverFase()">Salvar<i id="iconeAdd" class="material-icons right">save</i>
                            </button>
                        </div>
                        <div class="divider"></div>
                        <div class="left-align">
                            <h6>Número de questões atual: <span id="numeroDePalavras">0</span></h6>
                        </div>
                        <div id="palavrasAdicionadas" class="left-align">
                            <h6>Palavras adicionadas:</h6>
                        </div>
                </div>   
    </div>
    
        
    <div id="telaNormalAndHardcore" class="col s12 m4 l4 hide-on-small-only">
        <iframe id="normalIframe" src="~/TaCertoForms/ChamarIframe?id=1" frameborder="0"></iframe>
        <div onclick="M.toast({html: 'Esse é apenas um exemplo de como ficará no jogo.', classes: 'rounded red lighten-1'})"  class="ghostDivJustForClick">
        </div>
    </div>
</div>

<script>
    function addPalavra(){
        
    }

</script>