@{
    Layout = "~/TaCertoForms/Views/Layouts/CriarFaseLayout.cshtml";
}
<div class="container center-align">
    <br>
    <br>
    <h4>Aqui estarão listadas as fases que eu criei.</h4>
    <br>
    <div class="row s12 m12 l12 ">
        <ul class="collection">
            @{
                foreach (var @fase in @ViewBag.listaFases){
                    <li class="collection-item">
                        <div>
                            @fase.Chave @fase.Descricao
                            <a href="#!" class="secondary-content">
                                <i class="material-icons">clear</i>
                            </a>
                            <a href="#!" class="secondary-content rightSpace">
                                <i class="material-icons">edit</i>
                            </a>
                            <a href="#info-fase-modal" class="secondary-content modal-trigger rightSpace">
                                <i class="material-icons">visibility</i>
                            </a>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
    <br>
    <br>
</div>

<!-- Modal Structure -->
<div id="info-fase-modal" class="modal modal-fixed-footer modal-fixed-header">
    <div class="modal-header">
        <h5 class="leftSpace">
            Fase: #0432
        </h5>
    </div>
    <div class="modal-content">
        <ul class="collection">
            <li class="collection-item">
                <div>1 - Cadarço
                    <div class="secondary-content rightSpace">Erros: 423</div>
                    <div class="secondary-content rightSpace">Acertos: 3000</div>
                </div>
            </li>
            <li class="collection-item">
                <div>2 - Cardarço
                    <div class="secondary-content rightSpace">Erros: 423</div>
                    <div class="secondary-content rightSpace">Acertos: 3000</div>  
                </div>
            </li>
            <li class="collection-item">
                <div>3 - Cabelelero
                    <div class="secondary-content rightSpace">Erros: 423</div>
                    <div class="secondary-content rightSpace">Acertos: 3000</div>
                </div>
            </li>
            <li class="collection-item">
                <div>4 - Cabeleilero
                    <div class="secondary-content rightSpace">Erros: 423</div>
                    <div class="secondary-content rightSpace">Acertos: 3000</div>
                </div>
            </li>
            <li class="collection-item">
                <div>5 - Mecher
                    <div class="secondary-content rightSpace">Erros: 423</div>
                    <div class="secondary-content rightSpace">Acertos: 3000</div>
                </div>
            </li>
            <li class="collection-item">
                <div>6 - Mexer
                    <div class="secondary-content rightSpace">Erros: 423</div>
                    <div class="secondary-content rightSpace">Acertos: 3000</div>
                </div>
            </li>
            <li class="collection-item">
                <div>6 - Mexer
                    <div class="secondary-content rightSpace">Erros: 423</div>
                    <div class="secondary-content rightSpace">Acertos: 3000</div>
                </div>
            </li>
            <li class="collection-item">
                <div>6 - Mexer
                    <div class="secondary-content rightSpace">Erros: 423</div>
                    <div class="secondary-content rightSpace">Acertos: 3000</div>
                </div>
            </li>
            <li class="collection-item">
                <div>6 - Mexer
                    <div class="secondary-content rightSpace">Erros: 423</div>
                    <div class="secondary-content rightSpace">Acertos: 3000</div>
                </div>
            </li>
        </ul>
        <p class="bottomSpace">Essa fase foi jogada 3423 vezes</p>
    </div>
    <div class="modal-footer">
        <!--<a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>-->
        
        <a href="#!" class="waves-effect waves-green btn-flat">
            <i class="material-icons">edit</i>
        </a>
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">
            <i class="material-icons">clear</i>
        </a>
    </div>
</div>

