@{
    Layout = "/Views/TaCertoForms/Layouts/CriarFaseLayout.cshtml";
}

<div class="container center-align">
    <br>
    <br>
    <h4>Aqui estarão listadas as fases que eu criei.</h4>
    <br>
    <div class="row s12 m12 l12 ">
        <ul class="collection">
            <li class="collection-item">
                <div>"id da fase"
                    <a href="#!" class="secondary-content">
                        <i class="material-icons">clear</i>
                    </a>
                    <a href="#!" class="secondary-content">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="#!" class="secondary-content">
                        <i class="material-icons">visibility</i>
                    </a>
                </div>
            </li>
            <li class="collection-item">
                <div>"id da fase"
                    <a href="#!" class="secondary-content">
                        <i class="material-icons">clear</i>
                    </a>
                    <a href="#!" class="secondary-content">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="#!" class="secondary-content">
                        <i class="material-icons">visibility</i>
                    </a>
                </div>
            </li>
            <li class="collection-item">
                <div>"id da fase"
                    <a href="#!" class="secondary-content">
                        <i class="material-icons">clear</i>
                    </a>
                    <a href="#!" class="secondary-content">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="#!" class="secondary-content">
                        <i class="material-icons">visibility</i>
                    </a>
                </div>
            </li>
            <li class="collection-item">
                <div>"id da fase"
                    <a href="#!" class="secondary-content">
                        <i class="material-icons">clear</i>
                    </a>
                    <a href="#!" class="secondary-content">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="#!" class="secondary-content">
                        <i class="material-icons">visibility</i>
                    </a>
                </div>
            </li>
            <li class="collection-item">
                <div>"id da fase"
                    <a href="#!" class="secondary-content">
                        <i class="material-icons">clear</i>
                    </a>
                    <a href="#!" class="secondary-content">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="#!" class="secondary-content">
                        <i class="material-icons">visibility</i>
                    </a>
                </div>
            </li>
            
        </ul>
    </div>
    <br>
    <br>
</div>