@{
    Layout = "/Views/TaCertoForms/Layouts/CriarFaseLayout.cshtml";
}

<div class="container center-align">
    <br>
    <br>
    <h4>Aqui estarão listadas as fases que eu criei.</h4>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>