@{
    Layout = "/Views/TaCertoForms/Layouts/CriarFaseLayout.cshtml";
}

<div class="container center-align">
    <br>
    <br>
    <h4>Aqui estaráo informações sobre o forms e os criadores.</h4>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>