@{
    Layout = "/Views/TaCertoForms/Layouts/CriarFaseLayout.cshtml";
}
<br>
<br>
<br>
<br>
<br>
<h3>Essa é a tela principal
    Vai ter as opçoes do usuario 
    e 
    botoes para criar as fases
</h3>
<br>
<a href="~/TaCertoForms/CriarFase?id=1"><button>normal</button></a>
<a href="~/TaCertoForms/CriarFase?id=2"><button>lacuna</button></a>
<a href="~/TaCertoForms/CriarFase?id=3"><button>aurelio</button></a>
<a href="~/TaCertoForms/CriarFase?id=4"><button>explorador</button></a>
<br>
<br>
<br>
<br>
<br>
