@{
    Layout = "/Views/TaCertoForms/Layouts/LoginLayout.cshtml";
}
<br>
<br>
<br>
<br>
<br>
<h3>Essa é a tela principal
    Vai ter as opçoes do usuario 
    e 
    botoes para criar as fases
</h3>
<br>
<a href="~/TaCertoForms/CriarFaseNormal"><button>normal</button></a>
<a href="~/TaCertoForms/CriarFaseLacuna"><button>lacuna</button></a>
<a href="~/TaCertoForms/CriarFaseAurelio"><button>aurelio</button></a>
<a href="~/TaCertoForms/CriarFaseExplorador"><button>explorador</button></a>
<br>
<br>
<br>
<br>
<br>
