@{
    Layout = "/Views/TaCertoForms/Layouts/CriarFaseLayout.cshtml";
}
<div id="normalAndHardcore" class="row center-align">
<div id="mainText" class="col s12 m12 l12 xl12 card-panel blue darken-4">
        <h4>Criando fase do modo normal</h3>
    </div>

<div class="row">
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-image">
                <img src="~/tacertoforms/images/modo_normal.png">
            </div>
            <div class="card-action">
                <a href="~/TaCertoForms/CriarFase?id=1"> Modo Normal</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-image">
                <img src="~/tacertoforms/images/modo_lacunas.png">
            </div>
            <div class="card-action">
                <a href="~/TaCertoForms/CriarFase?id=2"> Modo Lacuna</a>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-image">
                <img src="~/tacertoforms/images/modo_aurelio.png">
            </div>
            <div class="card-action">
                <a href="~/TaCertoForms/CriarFase?id=3"> Modo Aurelio</a>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-image">
                <img src="~/tacertoforms/images/modo_explorador.png">
            </div>
            <div class="card-action">
                <a href="~/TaCertoForms/CriarFase?id=4"> Modo Explorador</a>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
</div>