@{
    ViewBag.Title = "Home Page";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Serviço Social da Indústria            
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Início</a></li>
            <li class="active"><a href="@Url.Action("Relatorios", "Home")">Relatórios</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Atividades realizadas</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>                            
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8">
                                <p class="text-center">
                                    <strong>Tarefas realizadas: @DateTime.Now.Day Jun, 2019 - @DateTime.Now.Day Out, 2019</strong>
                                </p>

                                <div class="chart">
                                    <!-- Sales Chart Canvas -->
                                    <canvas id="salesChart" style="height: 180px;"></canvas>
                                </div>
                                <!-- /.chart-responsive -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <p class="text-center">
                                    <strong>Tarefas realizadas em outubro</strong>
                                </p>

                                <div class="progress-group">
                                    <span class="progress-text">SESI Maracaju</span>
                                    <span class="progress-number"><b>140</b>/150</span>

                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-aqua" style="width: 93.33%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    <span class="progress-text">SESI Corumbá</span>
                                    <span class="progress-number"><b>250</b>/300</span>

                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-red" style="width: 83.33%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    <span class="progress-text">SESI Dourados</span>
                                    <span class="progress-number"><b>40</b>/145</span>

                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-green" style="width: 27.58%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    <span class="progress-text">SESI Três Lagoas</span>
                                    <span class="progress-number"><b>123</b>/248</span>

                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-yellow" style="width: 49.59%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                                    <h5 class="description-header">35.210</h5>
                                    <span class="description-text">TOTAL ALUNOS</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 2%</span>
                                    <h5 class="description-header">10.390</h5>
                                    <span class="description-text">TOTAL ATIVIDADES</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 4%</span>
                                    <h5 class="description-header">15.245</h5>
                                    <span class="description-text">TOTAL TURMAS</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block">
                                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 8%</span>
                                    <h5 class="description-header">10.5 minutos</h5>
                                    <span class="description-text">Tempo médio gasto em atividades</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>

            <div class="col-md-4">
                <div class="info-box bg-aqua">
                    <span class="info-box-icon"><i class="ion ion-ios-people-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">SESI MARACAJU</span>
                        <span class="info-box-number">163.921 <small>atividades cadastradas</small></span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 40%"></div>
                        </div>
                        <span class="progress-description">
                            40% das licenças utilizadas
                        </span>
                    </div>
                </div>
                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="ion ion-ios-people-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">SESI CORUMBÁ</span>
                        <span class="info-box-number">114.381 <small>atividades cadastradas</small></span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <span class="progress-description">
                            70% das licenças utilizadas
                        </span>
                    </div>                    
                </div>

                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="ion ion-ios-people-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">SESI DOURADOS</span>
                        <span class="info-box-number">92.050 <small>atividades cadastradas</small></span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 20%"></div>
                        </div>
                        <span class="progress-description">
                            20% das licenças utilizadas
                        </span>
                    </div>                    
                </div>

                <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="ion ion-ios-people-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">SESI TRÊS LAGOAS</span>
                        <span class="info-box-number">5.200 <small>atividades cadastradas</small></span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                        <span class="progress-description">
                            50% das licenças utilizadas
                        </span>
                    </div>                
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-12">
                <!-- /.box -->
                <div class="row">
                    <div class="col-md-6">
                        <!-- AREA CHART -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Novos alunos na plataforma <small>últimos 6 meses</small></h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    <canvas id="areaChart" style="height:250px"></canvas>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>                       
                        <!-- /.box -->
                        <!-- DONUT CHART -->
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">Melhores alunos das unidades</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table class="table no-margin">
                                        <thead>
                                            <tr>
                                                <th>Colocação</th>
                                                <th>Unidade</th>
                                                <th>Nome do Aluno</th>
                                                <th>Turma</th>
                                                <th>Média Anual</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1º</td>
                                                <td>SESI Maracaju</td>
                                                <td>Isabel Vera Fabiana Moreira</td>
                                                <td>1º Ano A</td>
                                                <td>9.75</td>
                                            </tr>
                                            <tr>
                                                <td>2º</td>
                                                <td>SESI Corumbá</td>
                                                <td>Mariane Analu Porto</td>
                                                <td>2º Ano B</td>
                                                <td>9.56</td>
                                            </tr>
                                            <tr>
                                                <td>3º</td>
                                                <td>SESI Maracaju</td>
                                                <td>Augusto Severino Enrico Lopes</td>
                                                <td>1º Ano A</td>
                                                <td>9.50</td>
                                            </tr>
                                            <tr>
                                                <td>4º</td>
                                                <td>SESI Maracaju</td>
                                                <td>Isaac Paulo Hugo Barros</td>
                                                <td>3º Ano B</td>
                                                <td>9.32</td>
                                            </tr>
                                            <tr>
                                                <td>5º</td>
                                                <td>SESI Dourados</td>
                                                <td>Fábio Kevin Nogueira</td>
                                                <td>1º Ano C</td>
                                                <td>9.20</td>
                                            </tr>
                                            <tr>
                                                <td>6º</td>
                                                <td>SESI Três Lagoas</td>
                                                <td>Davi Cláudio Antonio Farias</td>
                                                <td>3º Ano A</td>
                                                <td>9.12</td>
                                            </tr>
                                            <tr>
                                                <td>7º</td>
                                                <td>SESI Três Lagoas</td>
                                                <td>Sueli Fabiana Melo</td>
                                                <td>1º Ano C</td>
                                                <td>8.95</td>
                                            </tr>
                                            <tr>
                                                <td>8º</td>
                                                <td>SESI Maracaju</td>
                                                <td>Thiago Juan Luís Aparício</td>
                                                <td>2º Ano D</td>
                                                <td>8.92</td>
                                            </tr>
                                            <tr>
                                                <td>9º</td>
                                                <td>SESI Maracaju</td>
                                                <td>Isabel Milena Bárbara Alves</td>
                                                <td>1º Ano A</td>
                                                <td>8.75</td>
                                            </tr>
                                            <tr>
                                                <td>10º</td>
                                                <td>SESI Três Lagoas</td>
                                                <td>Gael Otávio Juan Bernardes</td>
                                                <td>3º Ano B</td>
                                                <td>7.30</td>
                                            </tr>                                           
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            
                            <!-- /.box-footer -->
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- /.col (LEFT) -->
                    <div class="col-md-6">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Média e notas dos alunos por matéria</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    <canvas id="barChart" style="height:230px"></canvas>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- LINE CHART -->
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">Line Chart</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    <canvas id="lineChart" style="height:250px"></canvas>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.col -->

            <div class="col-md-4">
                <!-- /.box -->
                                
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->