@{
    Layout = "~/Views/Login/LoginLayout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <input type="email" placeholder="E-mail"><br>
    <input type="password" placeholder="Senha"><br>
    <a href="#">Esqueci minha senha</a><br>
    <input type="button" value="Logar">
</div>
