@{
    Layout = "~/TaCertoForms/Views/Layouts/LoginLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row noMargin rowParaFixarAltura"></div>
<div class="row noMargin">
    <div class=" col xl3 l3 m2"></div>
    <div class="rowPrincipalDoLogin col xl6 l6 m8 s12">
        <div class="imagensDoLogin">
            <img id="loginImg" src="~/tacertoforms/images/panel.png" alt="">
            <img id="logoImg" src="~/tacertoforms/images/LOGO-ABERTURA.png" alt="">
            <img id="cardImg" src="~/tacertoforms/images/cartaVermelhaBack.png" alt="">
            <img id="relogioImg" src="~/tacertoforms/images/relogio_solo.png" alt="">
            <img id="trofeuImg" src="~/tacertoforms/images/botaoTrofeu.png" alt="">
            <img id="lacunasImg" src="~/tacertoforms/images/botaoLacunas.png" alt="">
            <img id="certoImg" src="~/tacertoforms/images/botaoCerto.png" alt="">
            <img id="erradoImg" src="~/tacertoforms/images/botaoErrado.png" alt="">
            <!--FALTA--><img id="estrela" src="~/tacertoforms/images/estrela.png" alt="">
            <img id="exploradorImg" src="~/tacertoforms/images/botaoExplorador.png" alt="">
            <img id="hardcoreImg" src="~/tacertoforms/images/botaoHardcore.png" alt="">
            <img id="jogarImg" src="~/tacertoforms/images/botaoJogar.png" alt="">
            <img id="geloImg" src="~/tacertoforms/images/cartaAzulBack.png" alt="">
            <img id="yellowImg" src="~/tacertoforms/images/cartaAmarelaBack.png" alt="">
            <img id="greenImg" src="~/tacertoforms/images/cartaVerdeBack.png" alt="">
            <!--FALTA--><img id="moeda1Img" src="~/tacertoforms/images/moedaImg.png" alt="">
            <!--FALTA--><img id="moeda2Img" src="~/tacertoforms/images/moedaImg.png" alt="">
            <img id="aurelioImg" src="~/tacertoforms/images/botaoAurelio.png" alt="">
            <img id="randomImg" src="~/tacertoforms/images/botaoRandom.png" alt="">
            <img id="casualImg" src="~/tacertoforms/images/menucasual.png" alt="">
        </div>	
        
        <div id="loginForm" class="container">
            <form class="col s12" action="@Url.Action("autenticar", "TaCertoForms")" method="post">
                <div class="row emailRow">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="email" type="email" name="email" class="validate">
                        <label for="email">E-mail</label>
                        <span class="helper-text" data-error="errado" data-success="correto">ex: seunome@gmail.com</span>
                    </div>
                </div>
                <div class="row senhaRow">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" type="password" name="password" class="validate">
                        <label for="password">Senha</label>
                    </div>
                </div>
                <div class="row lembraRow">
                    <p>
                        <div class="col s6">
                            <label for="remember">
                                <input type="checkbox" id="remember" name="remember" checked="checked"/>
                                <span>Lembrar-me</span>
                            </label>
                        </div>
                        <div class="col s6">
                            <a href="#esqueciasenha">Esqueci a senha</a>
                        </div>
                    </p>	
                </div>
                <div class="row right-align buttonRow">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            Autenticar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>