<div class="row rowParaFixarAltura"> </div>
        <div class="row">
    <div class=" col xl3 l3 m2">
    </div>
    <div class="rowPrincipalDoLogin col xl6 l6 m8 s12">
        <div class="imagensDoLogin">
            <img id="loginImg" src="~/images/panel.png" alt="">
            <img id="logoImg" src="~/images/LOGO-ABERTURA.png" alt="">
            <img id="cardImg" src="~/images/cartaVermelhaBack.png" alt="">
            <img id="relogioImg" src="~/images/relogio_solo.png" alt="">
            <img id="trofeuImg" src="~/images/botaoTrofeu.png" alt="">
            <img id="lacunasImg" src="~/images/botaoLacunas.png" alt="">
            <img id="certoImg" src="~/images/botaoCerto.png" alt="">
            <img id="erradoImg" src="~/images/botaoErrado.png" alt="">
            <!--FALTA--><img id="estrela" src="~/images/estrela.png" alt="">
            <img id="exploradorImg" src="~/images/botaoExplorador.png" alt="">
            <img id="hardcoreImg" src="~/images/botaoHardcore.png" alt="">
            <img id="jogarImg" src="~/images/botaoJogar.png" alt="">
            <img id="geloImg" src="~/images/cartaAzulBack.png" alt="">
            <img id="yellowImg" src="~/images/cartaAmarelaBack.png" alt="">
            <img id="greenImg" src="~/images/cartaVerdeBack.png" alt="">
            <!--FALTA--><img id="moeda1Img" src="~/images/moedaImg.png" alt="">
            <!--FALTA--><img id="moeda2Img" src="~/images/moedaImg.png" alt="">
            <img id="aurelioImg" src="~/images/botaoAurelio.png" alt="">
            <img id="randomImg" src="~/images/botaoRandom.png" alt="">
            <img id="casualImg" src="~/images/menucasual.png" alt="">
        </div>	
        
        <div id="loginForm" class="container">
            <form class="col s12" action="@Url.Action("autenticar", "Login")" method="post">
                <div class="row emailRow">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="email" type="email" name="email" class="validate">
                    <label for="email">E-mail</label>
                    <span class="helper-text" data-error="errado" data-success="correto">ex: seunome@gmail.com</span>
                </div>
                </div>
                <div class="row senhaRow">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="password" type="password" name="password" class="validate">
                    <label for="password">Senha</label>
                </div>
                </div>
                <div class="row lembraRow">
                    <p>
                        <div class="col s6">
                            <label for="remember">
                                <input type="checkbox" id="remember" name="remember" checked="checked"/>
                                <span>Lembrar-me</span>
                            </label>
                        </div>
                        <div class="col s6">
                            <a href="#esqueciasenha">Esqueci a senha</a>
                        </div>
                    </p>	
                </div>
                <div class="row right-align buttonRow">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Autenticar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>