@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url('../media/font/pacifico/Pacifico.ttf') format('tff');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../media/font/roboto/Roboto-Regular.ttf') format('ttf');
  }
  @font-face {
    font-family: 'panton';
    src: url("../media/font/panton3/Panton-BlackCaps.otf");
  }