/****************************************************************/
/*Informação Geral*//*inicio*/
/****************************************************************/
html{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

@media only screen and (min-width: 500px){
	html{
		font-size: 13px;
	}
}

@media only screen and (min-width: 601px){
	html{
		font-size: 8px;
	}
}

@media only screen and (min-width: 720px){
	html{
		font-size: 9px;
	}

	#loginForm{
		top: 50% !important;
	}
}

@media only screen and (min-width: 805px){
	html{
		font-size: 13px;
	}

	#loginForm{
		position: absolute;
		width: 75%;
		height: 58%;
		top: 50% !important;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@media only screen and (min-width: 993px){
	html{
		font-size: 11px;
	}
	#loginForm{
		top: 46% !important;
	}
}

@media only screen and (min-width: 1100px){
	html{
		font-size: 13px;
	}
}

@media only screen and (min-width: 1220px){
	html{
		font-size: 15px;
	}
}

@media only screen and (min-width: 1320px){
	html{
		font-size: 16px;
	}
}

@media only screen and (min-width: 1450px){
	html{
		font-size: 18px;
	}
}

@media only screen and (min-width: 1600px){
	html{
		font-size: 20px;
	}
}

@media only screen and (min-width: 1800px){
	html{
		font-size: 22px;
	}
}

@media only screen and (min-width: 2000px){
	html{
		font-size: 26px;
	}
}

body{
	/*background-image: url("../media/image/loginBackground.png"), linear-gradient(rgb(71, 116, 255), rgb(102, 154, 253), rgb(102, 154, 253), rgb(102, 154, 253), rgb(71, 116, 255));*/
	background: linear-gradient(rgb(71, 116, 255), rgb(102, 154, 253), #477cff, rgb(102, 154, 253), rgb(71, 116, 255));
	background-attachment: fixed;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;



	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 97%;
}

.center-align{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
#tipoForm{
	position: absolute;
	width: 100%;
}
#helperText h4{
	color: whitesmoke;
}
#normalAndHardcore{
	position: relative;
	width: 100%;
}
#formNormalAndHardcore{
	background-color: whitesmoke;
}
#telaNormalAndHardcore{
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
}
#telaNormalAndHardcore iframe{
	border: 0;
	height: 100%;
	left: 0%;
	position: absolute;
	top: 0;
	width: 100%;
}

.iframeSize{
	position: absolute;
	width: 100%;
	height: 100%;
}
nav .sidenav-trigger{
	display: block !important;
}
nav .brand-logo{
	left: 50%;
	transform: translate(-50%);
}

.titulo-questao{
	font-family: 'Roboto', sans-serif !important;
	color: white;
}

.footer-copyright{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
}

.footer-copyright{
	color: #e0f2f1;
}

.user-info{
	position: relative;
	width: 100%;
	padding-top: 22px;
	padding-left: 22px;
}

.card{
	background-color: rgba(255, 255, 255, 0);
}

.modos-card-images{
	position: relative;
	width: 70%;
	margin-top: 15%;
	left: 50%;
	transform: translateX(-50%);
}

.body-content{
	height: auto;
	display: block;
	overflow: auto;
}

.card>.card-action>a{
	margin-right: 0 !important;
}

.ghostDivJustForClick{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.rightSpace{
	margin-right: 10px;
}

.leftSpace{
	margin-left: 2rem;
}

.bottomSpace{
	margin-bottom: 2rem;
}

#info-fase-modal {
	height: 40% !important;
}

.modal {
    background-color: #fff;
    .modal-fixed-header {
        padding: 0;
        height: 70%;
        .modal-header {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 0;
        }
        .modal-header {
            border-radius: 0 0 2px 2px;
            background-color: #fafafa;
            padding: 4px 6px;
            height: 56px;
            width: 100%;
        }
        .modal-content {
            position: absolute;
            top:56px;
            height: calc(100% - 56px);
            max-height: 100%;
            width: 100%;
            overflow-y: auto;
        }
    }
}
/*--------------------------------------------------------------*/
/*classes gerais*//*fim*/
/*--------------------------------------------------------------*/

/****************************************************************/
/*LOGIN*//*inicio*/
/****************************************************************/

.rowParaFixarAltura{
	height: 50vh;
}
.loginContainer{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 34vw;
}

/* Mobile */
.rowPrincipalDoLogin{
	height: 64.56vw;
	transform: translateY(-50%);
}

/* Tablet */
@media only screen and (min-width: 601px){
	.rowPrincipalDoLogin{
		height: 43.03vw;
		transform: translateY(-50%);
	}
}

/* PC */
@media only screen and (min-width: 993px){
	.rowPrincipalDoLogin{
		height: 40vw !important;
		transform: translateY(-50%);
	}
}

.imagensDoLogin{
	position: relative;
	width: 100%;
	height: 100%;
}

#loginImg{
	position: absolute;
	width: 100%;
	height: 90%;
	filter: drop-shadow(5px 5px 4px rgba(22, 22, 22, 0.3));

}

#logoImg{
	position: absolute;
	width: 43%;
	left: 50%;
	transform: translate(-50%, -54%);	
	filter: drop-shadow(5px 5px 4px rgba(22, 22, 22, 0.3));
	transition: 1s;
}
#logoImg:hover{
	width: 50%;
	filter: drop-shadow(7px 7px 5px rgba(22, 22, 22, 0.3));
}

#cardImg{
	position: absolute;
	width: 25%;
    right: -10%;
    top: -1%;
    transform: translate(10%, -20%) rotate(302deg);
	filter: drop-shadow(5px 5px 4px rgba(22, 22, 22, 0.3));
	transition: .5s;
}
#cardImg:hover{
	width: 27%;
	filter: drop-shadow(7px 7px 5px rgba(22, 22, 22, 0.3));
}

#relogioImg{
	position: absolute;
	width: 13%;
    left: -1%;
	transform: translate(-24%, 77%);
	filter: drop-shadow(5px 5px 4px rgba(22, 22, 22, 0.3));
	transition: .5s;
}
#relogioImg:hover{
	width: 15%;
	filter: drop-shadow(7px 7px 5px rgba(22, 22, 22, 0.3));
}

#trofeuImg{
	position: absolute;
	width: 22%;
    left: -18%;
    top: -43%;
	transform: translate(-24%, 77%) rotate(18deg);
	filter: drop-shadow(5px 5px 4px rgba(22, 22, 22, 0.3));
	transition: .5s;
}
#trofeuImg:hover{
	width: 23%;
	filter: drop-shadow(7px 7px 5px rgba(22, 22, 22, 0.3));
}

#lacunasImg{
	position: absolute;
	width: 12%;
    left: -39%;
    top: 0%;
	transform: rotate(-8deg);
	filter: drop-shadow(5px 5px 4px rgba(22, 22, 22, 0.3));	
	transition: .5s;
}
#lacunasImg:hover{
	width: 14%;
	filter: drop-shadow(7px 7px 5px rgba(22, 22, 22, 0.3));
}

#certoImg{
	position: absolute;
    width: 16%;
    left: -30%;
    top: 24%;
	transform: rotate(15deg);
	filter: drop-shadow(5px 5px 4px rgba(22, 22, 22, 0.3));	
	transition: .5s;
}
#certoImg:hover{
	width: 18%;
	filter: drop-shadow(7px 7px 5px rgba(22, 22, 22, 0.3));
}

#erradoImg{
	position: absolute;
    width: 11%;
    left: -14%;
    top: 45%;
	transform: rotate(15deg);
	filter: drop-shadow(5px 5px 4px rgba(22, 22, 22, 0.3));	
	transition: .5s;
}
#erradoImg:hover{
	width: 13%;
	filter: drop-shadow(7px 7px 5px rgba(22, 22, 22, 0.3));
}

#estrela{

}

#exploradorImg{
	position: absolute;
    width: 21%;
    left: 5%;
    filter: drop-shadow(5px 5px 4px rgba(22, 22, 22, 0.3));
    bottom: -10%;
    transition: .5s;
}
#exploradorImg:hover{
	width: 23%;
	filter: drop-shadow(7px 7px 5px rgba(22, 22, 22, 0.3));
}

#hardcoreImg{
	position: absolute;
	width: 16%;
    right: 28%;
    bottom: -1.5%;
	transform: rotate(-9deg);
	filter: drop-shadow(5px 5px 4px rgba(22, 22, 22, 0.3));	
	transition: .5s;
}
#hardcoreImg:hover{
	width: 18%;
	filter: drop-shadow(7px 7px 5px rgba(22, 22, 22, 0.3));
}

#jogarImg{
	position: absolute;
	width: 30%;
    right: -3%;
    bottom: -9.5%;
    transform: rotate(273deg);
	z-index: -1;
	filter: drop-shadow(5px 5px 4px rgba(22, 22, 22, 0.3));	
	transition: .5s;
}
#jogarImg:hover{
	width: 32%;
	filter: drop-shadow(7px 7px 5px rgba(22, 22, 22, 0.3));
}

#geloImg{
	position: absolute;
	width: 31%;
    right: -29%;
    bottom: 14.5%;
    transform: rotate(308deg);
	filter: drop-shadow(5px 5px 4px rgba(22, 22, 22, 0.3));	
	transition: .5s;
}
#geloImg:hover{
	width: 33%;
	filter: drop-shadow(7px 7px 5px rgba(22, 22, 22, 0.3));
}

#yellowImg{
	position: absolute;
	width: 15%;
    right: -19%;
    top: -17%;
	transform: translate(10%, -20%) rotate(351deg);
	filter: drop-shadow(5px 5px 4px rgba(22, 22, 22, 0.3));	
	transition: .5s;
}
#yellowImg:hover{
	width: 17%;
	filter: drop-shadow(7px 7px 5px rgba(22, 22, 22, 0.3));
}

#greenImg{
	position: absolute;
	width: 21%;
    right: -34%;
    top: 14%;
    transform: translate(10%, -20%) rotate(336deg);
	filter: drop-shadow(5px 5px 4px rgba(22, 22, 22, 0.3));	
	transition: .5s;
}
#greenImg:hover{
	width: 23%;
	filter: drop-shadow(7px 7px 5px rgba(22, 22, 22, 0.3));
}

#aurelioImg{
	position: absolute;
	width: 14%;
    right: -36%;
    top: -24%;
	transform: translate(10%, -20%) rotate(381deg);
	filter: drop-shadow(5px 5px 4px rgba(22, 22, 22, 0.3));	
	transition: .5s;
}
#aurelioImg:hover{
	width: 17%;
	filter: drop-shadow(7px 7px 5px rgba(22, 22, 22, 0.3));
}

#randomImg{
	position: absolute;
    width: 8%;
    right: -44%;
    top: 3%;
	transform: translate(10%, -20%) rotate(381deg);
	filter: drop-shadow(5px 5px 4px rgba(22, 22, 22, 0.3));	
	transition: .5s;
}
#randomImg:hover{
	width: 10%;
	filter: drop-shadow(7px 7px 5px rgba(22, 22, 22, 0.3));
}

#casualImg{
    position: absolute;
	width: 20%;
    right: -46%;
    top: 44%;
	transform: translate(10%, -20%) rotate(331deg);
	filter: drop-shadow(5px 5px 4px rgba(22, 22, 22, 0.3));	
	transition: .5s;
}
#casualImg:hover{
	width: 22%;
	filter: drop-shadow(7px 7px 5px rgba(22, 22, 22, 0.3));
}

#loginForm{
	position: absolute;
	width: 75%;
	height: 58%;
	top: 44%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.buttonRow>.col>a{
	background-color: rgb(71, 116, 255) !important;
}

/* Mobile */
.emailRow, .emailRow>.input-field, .senhaRow, .senhaRow>.input-field, .lembraRow, .lembraRow p, .buttonRow, .buttonRow .col{
	margin-bottom: 0px;
}

.lembraRow p, .buttonRow .col{
	margin-top: 0px;
}

/* Tablet */
@media only screen and (min-width: 601px){
	.emailRow, .emailRow>.input-field, .senhaRow, .senhaRow col, .lembraRow, .lembraRow p, .buttonRow, .buttonRow .col{
		margin-bottom: 0px;
	}
}

/* PC */
@media only screen and (min-width: 993px){
	.emailRow, .emailRow>.input-field, .senhaRow, .senhaRow>.input-field, .lembraRow, .lembraRow p, .buttonRow, .buttonRow .col{
		margin-bottom: .7rem;
	}
	
	.lembraRow p, .buttonRow .col{
		margin-top: .7rem;
	}
}
/*--------------------------------------------------------------*/
/*LOGIN*//*fim*/
/*--------------------------------------------------------------*/