<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaCerto Forms</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/materialize/css/materialize.css" />
    <link rel="stylesheet" href="~/tacertoforms/css/fonts.css" />
    <link rel="stylesheet" href="~/tacertoforms/css/tacertoforms.css" />
    <link rel="stylesheet" href="~/lib/animate/animate.min.css" />

</head>
<body>
    @await Html.PartialAsync("~/TaCertoForms/Views/Partial/_CookieConsentPartial.cshtml")
    <div id="logged-navbar">
    <nav>
        <div class="nav-wrapper">
            <a id="header-text" class="brand-logo">@ViewBag.HeaderTexto</a>
            <a href="#" data-target="mobileMenu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobileMenu">
    <li class="sidenav-header">
        <a href="/TaCertoForms/TelaPrincipal" class="brand-logo">Tá Certo Forms</a>
        <div class="user-info">
            <h6 class="title">Meu Nome</h6>
            <p>@ViewBag.EmailLogado</p>
        </div>
    </li>
    <div class="divider"></div>
    <li><a href="/TaCertoForms/Menu/?op=1">Minhas Fases</a></li>
    <div class="divider"></div>
    <li><a href="/TaCertoForms/Menu/?op=2">Configurações</a></li>
    <div class="divider"></div>
    <li><a href="/TaCertoForms/Menu/?op=3">Sobre</a></li>
    <div class="divider"></div>
    <li><a href="/TaCertoForms/Menu/?op=4">Sair</a></li>
</ul>

<!--<div id="tipoForm" class="container center-align">-->
    
    	<div class="body-content">
            @RenderBody()
        </div>
       <div class="footer-copyright">
            <hr />
            <div class="container center-align"> 
                <p>&copy; 2018 - tacertoforms</p>
            </div>
       </div>
        
        @await Html.PartialAsync("~/TaCertoForms/Views/Partial/_Toast.cshtml")

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/materialize/js/materialize.min.js"></script>
        <script src="~/tacertoforms/js/tacertoforms.js"></script>
        
        @await Html.PartialAsync("~/TaCertoForms/Views/Partial/_ScriptCriarFase.cshtml")

    @RenderSection("Scripts", required: false)
</body>
</html>
