@model tacertoforms.Models.ViewModelAtividade
<table id="listagem" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Título</th>
            <th>Tipo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>me add no fb ai</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>eai td blz</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>pq usar pq</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>qlqr coisa só pedir +</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>vou no parkinho fds</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>sdds das aulas brinks</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>eh vdd esse bilete</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>to indo nessa flw</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>vc eh fmz msm</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>vc pode vir aqui pfv</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>vlw pelo presente</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>ql o num do seu cel?</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>vlw pelo presente</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>ta calor dms</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>hj eh meu niver</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>jah cheguei aki</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>kd v6?</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>olar td bm?</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>qnd vc vm pra k?</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>me add no fb ai</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>eai td blz</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>pq usar pq</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>qlqr coisa só pedir +</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>vou no parkinho fds</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>sdds das aulas brinks</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>eh vdd esse bilete</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>to indo nessa flw</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>vc eh fmz msm</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>vc pode vir aqui pfv</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>vlw pelo presente</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>ql o num do seu cel?</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>vlw pelo presente</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>ta calor dms</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>hj eh meu niver</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>jah cheguei aki</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>kd v6?</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>olar td bm?</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>qnd vc vm pra k?</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>me add no fb ai</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>eai td blz</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>pq usar pq</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>qlqr coisa só pedir +</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>vou no parkinho fds</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>sdds das aulas brinks</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>eh vdd esse bilete</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>to indo nessa flw</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>vc eh fmz msm</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>vc pode vir aqui pfv</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
        <tr>
            <td>1</td>
            <td>vlw pelo presente</td>
            <td>Lacuna</td>
            <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
            </td>
    </tbody>
</table>