@model tacertoforms.Models.ViewModelAtividade
<table id="tabela-de-listagem" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Título</th>
            <th>Tipo</th>
            <th>Ações</th>            
        </tr>
    </thead>    
</table>