@{
    Layout = "~/Views/Teste/LayoutLogin.cshtml";
    ViewData["Title"] = "Teste Login";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <p>DEMO</p>
    <input type="text" placeholder="E-mail"><br>
    <input type="text" placeholder="Senha"><br>
    <a href="#">Esqueci minha senha</a><br>
    <input type="button" value="Logar">
</div>
