@{
    Layout = "~/TaCertoForms/Views/Layouts/FaseIframeLayout.cshtml";
}
<div id="pauseModal" class="modalBlur" onclick="TaCerto.Controladora.Jogo.Geral.pauseModalClick()">
	<!-- conteudo do modal-->
	<div class="modalWrapper">
		<img class="modalBtn" onclick="TaCerto.Controladora.Jogo.Geral.pauseModalClick(this, 'home')" src="~/tacertoforms/images/home.png" alt="Botão ir para página inicial">
		<img class="modalBtn" onclick="TaCerto.Controladora.Jogo.Geral.pauseModalClick(this, 'reiniciar')" src="~/tacertoforms/images/reiniciar.png" alt="Botão reiniciar o jogo">
		<img class="modalBtn" onclick="TaCerto.Controladora.Jogo.Geral.pauseModalClick(this, 'loja')" src="~/tacertoforms/images/carrinho.png" alt="Botão abrir loja">
		<img id="modalBtnMissao" style="display: none;" class="modalBtn" onclick="TaCerto.Controladora.Jogo.Geral.pauseModalClick(this, 'missao')" src="~/tacertoforms/images/menumissaobtn.png" alt="Botão ir para página missões">
		<img id="modalBtnCasual" class="modalBtn" onclick="TaCerto.Controladora.Jogo.Geral.pauseModalClick(this, 'casual')" src="~/tacertoforms/images/menucasual.png" alt="Botão ir para página menu casual">
		<img class="modalBtn" onclick="TaCerto.Controladora.Jogo.Geral.pauseModalClick(this)" src="~/tacertoforms/images/voltar_ao_jogo.png" alt="Botão voltar ao jogo">
	</div>
</div>

<!-- ERROR MODAL -->
<div id="errorModal" class="animated fadeIn" onclick="TaCerto.Controladora.Jogo.Geral.showMeMeuErro(this, false);">
	<!-- conteudo do modal-->
	<div class="modalWrapper">
		<div class="centerPanel">
				<h4>Explicação</h4>
				<h6>Aqui vai a explicação da questão que você errou</h6>
				<img class="modalBtn" onclick="TaCerto.Controladora.Jogo.Geral.showMeMeuErro(this, false);" src="~/tacertoforms/images/voltar_ao_jogo.png" alt="Botão voltar ao jogo">
		</div>
		
	</div>
</div>

<!-- SIGNIFICADO MODAL -->
<div id="significadoModal" class="animated fadeIn" onclick="TaCerto.Controladora.Jogo.Geral.showMeOSignificado(this, false);">
		<!-- conteudo do modal-->
		<div class="modalWrapper">
			<div class="centerPanel">
					<h4>Significado</h4>
					<h6>Aqui vai o significado da palavra que você está</h6>
					<img class="modalBtn" onclick="TaCerto.Controladora.Jogo.Geral.showMeOSignificado(this, false);" src="~/tacertoforms/images/voltar_ao_jogo.png" alt="Botão voltar ao jogo">
			</div>
			
		</div>
	</div>

<!-- MODAL start -->
<div id="despauseModal" class="modalBlur">
	<div class="modalWrapper">
		<span id="despauseCountdown"></span>
	</div>
</div>

<div class="comboWrapper">
	<div id="combo2x" data-timing="1000" data-tada="false" data-animacoestotal="12" data-framesx="3" data-framesy="5"></div>
	<div id="combo3x" data-timing="1000" data-tada="false" data-animacoestotal="12" data-framesx="3" data-framesy="4"></div>
</div>

<div class="jogo_wrapper">
	<div class="h20">
		<div class="jogoPlacarWrapper">
			<div class="spanWrapper" id="acertosSpan">
				<div class="jogoPlacar" id="acertos"> 0 </div>
			</div>
			<div id="clockIce" data-timing="3000" data-tada="false" data-animacoestotal="21" data-framesx="4" data-framesy="6"></div>

			<div class="spanWrapper" id="economiaSpan">
				<!--<div class="jogoPlacar" id="economia"> 0 </div>-->
				<div class="jogoPlacar" id="tempo">00:12</div>		
			</div>

			<div class="spanWrapper" id="errosSpan">
				<div class="jogoPlacar" id="erros"> 0 </div>
			</div>
			<div id="jogoPause" onclick="TaCerto.Controladora.Jogo.Geral.pauseBtn(this)">
				<img class="pause" src="~/tacertoforms/images/pause.png" alt="botão para pausar o jogo">
			</div>
		</div>
		<div class="barraProgressoWrapper">
			<div class="barraProgressoBack"></div>
			<div class="barraProgressoFront"></div>
			<div id="moneyIcon"></div>
		</div>
	</div>
	<div class="h10">
		<div id="achievementPanel" onclick="TaCerto.Controladora.MenuConquistas.SaiDaqui(this);" class="achievementWrapper">
		</div>
		<div id="botaoInformacao">
				<img onclick="TaCerto.Controladora.Jogo.Geral.showMeMeuErro(this, true);" src="~/tacertoforms/images/botaoInformacao2.png" alt="botão mostra a questão que errou">
		</div>
		<div id="botaoSignificado">
			<img onclick="TaCerto.Controladora.Jogo.Geral.showMeOSignificado(this, true);" src="~/tacertoforms/images/botaoSignificado.png" alt="botão mostra o significado da palavra">
		</div>
	</div>

	<div id="flagCardExists" class="cartaWrapper">
		<div class="barraCartaBG">
			<div class="bucketCards">
				<div id="cartaVermelha" class="cardSpan"><div class="imgCard bgcartaVermelha" onclick="TaCerto.Controladora.Jogo.Geral.clickCarta('cartaVermelha');"></div><div class="imgCard bgcartaVermelha" onclick="TaCerto.Controladora.Jogo.Geral.clickCarta('cartaVermelha');"></div></div>
				<div id="cartaAzul" class="cardSpan"><div class="imgCard bgcartaAzul" onclick="TaCerto.Controladora.Jogo.Geral.clickCarta('cartaAzul');"></div><div class="imgCard bgcartaAzul" onclick="TaCerto.Controladora.Jogo.Geral.clickCarta('cartaAzul');"></div></div>
				<div id="cartaAmarela" class="cardSpan"><div class="imgCard bgcartaAmarela" onclick="TaCerto.Controladora.Jogo.Geral.clickCarta('cartaAmarela');"></div><div class="imgCard bgcartaAmarela" onclick="TaCerto.Controladora.Jogo.Geral.clickCarta('cartaAmarela');"></div></div>
				<div id="cartaVerde" class="cardSpan"><div class="imgCard bgcartaVerde" onclick="TaCerto.Controladora.Jogo.Geral.clickCarta('cartaVerde');"></div><div class="imgCard bgcartaVerde" onclick="TaCerto.Controladora.Jogo.Geral.clickCarta('cartaVerde');"></div></div>
			</div>
			<div class="invBtn" onclick="TaCerto.Controladora.Jogo.Geral.toggleBarraCarta();"></div>
		</div>
	</div>

	<!--conteudo do tipo de jogo abaixo-->
	<div id="JogoTipo"><div class="mesaAur">
	<div class="aurTopWrap">
		<div class="aurTopBGWrap">
			<img src="~/tacertoforms/images/card_normal.svg" class="aurTopBGImg">
		</div>
		<div class="aurPhraseWrap" id="aurPhraseWrap">vc pode vir aqui pfv</div>

		<div class="aurTopContentWrap" id="aurTopContentWrap"></div>
		<div class="aurCoinBtnWrap">

			<div class="aurBtnWrapper">
				<div class="aurBtnImgWrapper">
					<img src="~/tacertoforms/images/aurSendBtn.svg" class="aurSendBtnImg" onclick="TaCerto.Controladora.Jogo.Aurelio.aurSendClick(this)">
				</div>
				<div class="aurBtnImgWrapper">
					<img src="~/tacertoforms/images/aurEraseBtn.svg" class="aurEraseBtnImg" onclick="TaCerto.Controladora.Jogo.Aurelio.aurEraseClick(this)">
				</div>
			</div>
		</div>
	</div>

	<div class="aurBotWrap">
		<div class="aurBotWordWrap" id="aurBotWordWrap"><div class="aurWord" style="width: 47.5px; margin-right: 1.97917px; margin-left: 1.97917px;">?</div><div class="aurWord" style="width: 23.75px; margin-right: 1.97917px; margin-left: 1.97917px;">.</div><div class="aurWord" style="width: 23.75px; margin-right: 1.97917px; margin-left: 1.97917px;">,</div><div data-index="-1" class="aurWord" id="6aurWordBot" style="width: 118.75px; margin-right: 1.97917px; margin-left: 1.97917px;">palavra</div><div data-index="2" class="aurWord" id="2aurWordBot" style="width: 47.5px; margin-right: 1.97917px; margin-left: 1.97917px;">vir</div><div data-index="1" class="aurWord" id="1aurWordBot" style="width: 71.25px; margin-right: 1.97917px; margin-left: 1.97917px;">pode</div><div data-index="-1" class="aurWord" id="8aurWordBot" style="width: 118.75px;">palavra</div><div data-index="3" class="aurWord" id="3aurWordBot" style="width: 71.25px;">aqui</div><div data-index="0" class="aurWord" id="0aurWordBot" style="width: 71.25px;">Você</div><div data-index="4" class="aurWord" id="4aurWordBot" style="width: 71.25px;">por</div><div data-index="-1" class="aurWord" id="7aurWordBot" style="width: 118.75px;">palavra</div><div data-index="5" data-apendice="?" class="aurWord" id="5aurWordBot" style="width: 95px;">favor</div></div>
	</div>
</div></div>
	<div id="block" data-timing="1000" data-tada="false" data-animacoestotal="21" data-framesx="4" data-framesy="6"></div>
	<div id="vassoura" data-timing="1000" data-tada="false" data-animacoestotal="32" data-framesx="5" data-framesy="7"></div>
</div>