@{
    Layout = "~/TaCertoForms/Views/Layouts/FaseIframeLayout.cshtml";
}
<div id="pauseModal" class="modalBlur" onclick="TaCerto.Controladora.Jogo.Geral.pauseModalClick()">
	<!-- conteudo do modal-->
	<div class="modalWrapper">
		<img class="modalBtn" onclick="TaCerto.Controladora.Jogo.Geral.pauseModalClick(this, 'home')" src="~/tacertoforms/images/home.png" alt="Botão ir para página inicial">
		<img class="modalBtn" onclick="TaCerto.Controladora.Jogo.Geral.pauseModalClick(this, 'reiniciar')" src="~/tacertoforms/images/reiniciar.png" alt="Botão reiniciar o jogo">
		<img class="modalBtn" onclick="TaCerto.Controladora.Jogo.Geral.pauseModalClick(this, 'loja')" src="~/tacertoforms/images/carrinho.png" alt="Botão abrir loja">
		<img id="modalBtnMissao" style="display: none;" class="modalBtn" onclick="TaCerto.Controladora.Jogo.Geral.pauseModalClick(this, 'missao')" src="~/tacertoforms/images/menumissaobtn.png" alt="Botão ir para página missões">
		<img id="modalBtnCasual" class="modalBtn" onclick="TaCerto.Controladora.Jogo.Geral.pauseModalClick(this, 'casual')" src="~/tacertoforms/images/menucasual.png" alt="Botão ir para página menu casual">
		<img class="modalBtn" onclick="TaCerto.Controladora.Jogo.Geral.pauseModalClick(this)" src="~/tacertoforms/images/voltar_ao_jogo.png" alt="Botão voltar ao jogo">
	</div>
</div>

<!-- ERROR MODAL -->
<div id="errorModal" class="animated fadeIn" onclick="TaCerto.Controladora.Jogo.Geral.showMeMeuErro(this, false);">
	<!-- conteudo do modal-->
	<div class="modalWrapper">
		<div class="centerPanel">
				<h4>Explicação</h4>
				<h6>Aqui vai a explicação da questão que você errou</h6>
				<img class="modalBtn" onclick="TaCerto.Controladora.Jogo.Geral.showMeMeuErro(this, false);" src="~/tacertoforms/images/voltar_ao_jogo.png" alt="Botão voltar ao jogo">
		</div>
		
	</div>
</div>

<!-- SIGNIFICADO MODAL -->
<div id="significadoModal" class="animated fadeIn" onclick="TaCerto.Controladora.Jogo.Geral.showMeOSignificado(this, false);">
		<!-- conteudo do modal-->
		<div class="modalWrapper">
			<div class="centerPanel">
					<h4>Significado</h4>
					<h6>Aqui vai o significado da palavra que você está</h6>
					<img class="modalBtn" onclick="TaCerto.Controladora.Jogo.Geral.showMeOSignificado(this, false);" src="~/tacertoforms/images/voltar_ao_jogo.png" alt="Botão voltar ao jogo">
			</div>
			
		</div>
	</div>

<!-- MODAL start -->
<div id="despauseModal" class="modalBlur">
	<div class="modalWrapper">
		<span id="despauseCountdown"></span>
	</div>
</div>

<div class="comboWrapper">
	<div id="combo2x" data-timing="1000" data-tada="false" data-animacoestotal="12" data-framesx="3" data-framesy="5"></div>
	<div id="combo3x" data-timing="1000" data-tada="false" data-animacoestotal="12" data-framesx="3" data-framesy="4"></div>
</div>

<div class="jogo_wrapper">
	<div class="h20">
		<div class="jogoPlacarWrapper">
			<div class="spanWrapper" id="acertosSpan">
				<div class="jogoPlacar" id="acertos"> 0 </div>
			</div>
			<div id="clockIce" data-timing="3000" data-tada="false" data-animacoestotal="21" data-framesx="4" data-framesy="6"></div>

			<div class="spanWrapper" id="economiaSpan">
				<!--<div class="jogoPlacar" id="economia"> 0 </div>-->
				<div class="jogoPlacar" id="tempo">00:05</div>		
			</div>

			<div class="spanWrapper" id="errosSpan">
				<div class="jogoPlacar" id="erros"> 0 </div>
			</div>
			<div id="jogoPause" onclick="TaCerto.Controladora.Jogo.Geral.pauseBtn(this)">
				<img class="pause" src="~/tacertoforms/images/pause.png" alt="botão para pausar o jogo">
			</div>
		</div>
		<div class="barraProgressoWrapper">
			<div class="barraProgressoBack"></div>
			<div class="barraProgressoFront"></div>
			<div id="moneyIcon"></div>
		</div>
	</div>
	<div class="h10">
		<div id="achievementPanel" onclick="TaCerto.Controladora.MenuConquistas.SaiDaqui(this);" class="achievementWrapper">
		</div>
		<div id="botaoInformacao">
				<img onclick="TaCerto.Controladora.Jogo.Geral.showMeMeuErro(this, true);" src="~/tacertoforms/images/botaoInformacao2.png" alt="botão mostra a questão que errou">
		</div>
		<div id="botaoSignificado">
			<img onclick="TaCerto.Controladora.Jogo.Geral.showMeOSignificado(this, true);" src="~/tacertoforms/images/botaoSignificado.png" alt="botão mostra o significado da palavra">
		</div>
	</div>

	<div id="flagCardExists" class="cartaWrapper">
		<div class="barraCartaBG">
			<div class="bucketCards">
				<div id="cartaVermelha" class="cardSpan"><div class="imgCard bgcartaVermelha" onclick="TaCerto.Controladora.Jogo.Geral.clickCarta('cartaVermelha');"></div><div class="imgCard bgcartaVermelha" onclick="TaCerto.Controladora.Jogo.Geral.clickCarta('cartaVermelha');"></div></div>
				<div id="cartaAzul" class="cardSpan"><div class="imgCard bgcartaAzul" onclick="TaCerto.Controladora.Jogo.Geral.clickCarta('cartaAzul');"></div><div class="imgCard bgcartaAzul" onclick="TaCerto.Controladora.Jogo.Geral.clickCarta('cartaAzul');"></div></div>
				<div id="cartaAmarela" class="cardSpan"><div class="imgCard bgcartaAmarela" onclick="TaCerto.Controladora.Jogo.Geral.clickCarta('cartaAmarela');"></div><div class="imgCard bgcartaAmarela" onclick="TaCerto.Controladora.Jogo.Geral.clickCarta('cartaAmarela');"></div></div>
				<div id="cartaVerde" class="cardSpan"><div class="imgCard bgcartaVerde" onclick="TaCerto.Controladora.Jogo.Geral.clickCarta('cartaVerde');"></div><div class="imgCard bgcartaVerde" onclick="TaCerto.Controladora.Jogo.Geral.clickCarta('cartaVerde');"></div></div>
			</div>
			<div class="invBtn" onclick="TaCerto.Controladora.Jogo.Geral.toggleBarraCarta();"></div>
		</div>
	</div>

	<!--conteudo do tipo de jogo abaixo-->
	<div id="JogoTipo"><div class="mesaExpl">
	<!--caixa de linhas que ligam as colunas-->
	<div id="lineWrapper" class="lineWrapper"></div>

	<!--onde fica a palavra do jogo explorador tipo palavra-->
	<!--OU onde fica um texto avisando que o jogo é do tipo ligar colunas-->
	<div id="explCabecalho" class="explCabecalho"></div>

	<!--explPWrapper-->
	<div id="explPWrapper" class="explPWrapper" style="display: none">
		<!--explPCountWordWrapper-->
		<div class="explPCountWordWrapper">
			<div class="explPCountContent">
				<div id="explPCountContentDinamico" class="explPCountContentShadow"></div>
				/
				<div id="explPCountContentDinamicoBase" class="explPCountContentShadow"></div>
			</div>
		</div>
		<!--explPWordWrapper-->
		<div id="explPWordWrapper" class="explPWordWrapper"></div>
	</div>

	<!--explCWrapper-->
	<div id="explCWrapper" class="explCWrapper" style="display: block;">
		<!--explCWordWrapper-->
		<div class="explCWordWrapper">
			<!--explCCol1-->
			<div id="explCCol1" class="explCCol1"><div class="explCCol1ItemWrapper animated zoomInRight fadeIn"><div class="explCCol1Item explPalavraItem" data-equivalente="0" data-match="n" id="0itemColPrincipal">Naco</div></div><div class="explCCol1ItemWrapper animated zoomInDown fadeIn"><div class="explCCol1Item explPalavraItem" data-equivalente="1" data-match="n" id="1itemColPrincipal" style="font-size: calc(12px + 1.4vw); padding-bottom: 6px; padding-top: 6px;">Pandorga</div></div><div class="explCCol1ItemWrapper animated zoomInLeft fadeIn"><div class="explCCol1Item explPalavraItem" data-equivalente="2" data-match="n" id="2itemColPrincipal">Califom</div></div></div>
			<!--explCCol2-->
			<div id="explCCol2" class="explCCol2"><div class="explCCol2ItemWrapper animated zoomInRight fadeIn"><div class="explCCol2Item explPalavraItem" data-equivalente="1" data-match="n" id="0itemColSecundaria">Pipa</div></div><div class="explCCol2ItemWrapper animated zoomInUp fadeIn"><div class="explCCol2Item explPalavraItem" data-equivalente="2" data-match="n" id="1itemColSecundaria">Sutiã</div></div><div class="explCCol2ItemWrapper animated zoomInLeft fadeIn"><div class="explCCol2Item explPalavraItem" data-equivalente="0" data-match="n" id="2itemColSecundaria">Pedaço</div></div></div>
		</div>
	</div>
</div>
</div>
	<div id="block" data-timing="1000" data-tada="false" data-animacoestotal="21" data-framesx="4" data-framesy="6"></div>
	<div id="vassoura" data-timing="1000" data-tada="false" data-animacoestotal="32" data-framesx="5" data-framesy="7"></div>
</div>